<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="./" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="../">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<p>{{title}}</p>
<div class="container">
    <span class="row">
    <p class="headline"><img class="responsive-img" src="/images/charles-manson-mugshot.jpg"> User</p><br>
  </span>


    <div>
        {{#each classes}}
        <h1>{{this.name}}, {{this.id}}</h1>
            <a href="../../classroom/{{this.id}}"> New Session for {{this.name}}
            </a>

        {{/each}}
    </div>



    <span class="row col 10">
    <p>text</p>
    <form class="createClass" method="post">
      <label for="className">Class Name</label>
      <input type="text" name="className" value="">
      <button class="create btn" type="submit" name="button">Create Class</button>
    </form>

  </span>
</div>
